

<div id="dock-container">
  <div id="dock">
  <ul>
    <li><a href="http://android.com"><img src="../../assets/images/contact.jpg"/></a></li>
    <li><a href="http://palm.com"><img src="../../assets/images/github.png"/></a></li>
  </ul>
  <div class="base"></div>
  </div>
</div>
