<!-- BaoBao Modal -->
<div id="BaoBao" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">BaoBao Details</h4>
      </div>
      <div class="modal-body">
        <p>BaoBao, a full stack MERN application built with the React JS library, is a student management system for VIPKID tutors.</p>
        <ul>
          <li>MERN Stack Application: MongoDB, Express, React, Node</li>
          <li>Allows Tutors to track student details & create calendar events for tutoring sessions</li>
        </ul>
        <hr>
        <div class="modal-links">
          <p><a href="https://baobaotutor.herokuapp.com" target="_blank">Demo the App</a></p>
          <p><a href="https://github.com/DizDonut/tutorBook" target="_blank">Visit the GitHub Repo</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- YumYum Modal -->
<div id="YumYum" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">YumYum Details</h4>
      </div>
      <div class="modal-body">
        <p>Yum Yum Log is a full stack web application that allows users to log their weekly food entries, track their personal progress, see nutrition data, and compare their results to the larger community.</p>
        <ul>
          <li>SQL Database stores nutrition data</li>
          <li>Data models are manipulated using the Sequelize ORM</li>
          <li>Templating through Handlebars.js is used to render the client views</li>
        </ul>
        <hr>
        <div class="modal-links">
          <p><a href="https://aqueous-spire-55286.herokuapp.com/" target="_blank">Demo the App</a></p>
          <p><a href="https://github.com/DizDonut/YumYumLog" target="_blank">Visit the GitHub Repo</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Farmers Market Modal -->
<div id="Farmers" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Farmers Market Details</h4>
      </div>
      <div class="modal-body">
        <p>Farmers Market Search is an application that allows users to view the closest farmer's market in the area.</p>
        <p>Firebase is utilized to allow users to store comments and ratings on specific farmer's markets.</p>
        <ul>
          <li>AJAX calls are made to USDA Farmers Market API and results are rendered dynamically using jQuery</li>
          <li>Google Maps API is utilized to display mapped results </li>
          <li>Moment.js and Apifier are used to pull in the foods in season</li>
        </ul>
        <hr>
        <div class="modal-links">
          <p><a href="https://dizdonut.github.io/FarmersMarket/" target="_blank">Demo the App</a></p>
          <p><a href="https://github.com/DizDonut/FarmersMarket" target="_blank">Visit the GitHub Repo</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Node StoreFront Modal -->
<div id="Bamazon" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Node StoreFront Details</h4>
      </div>
      <div class="modal-body">
        <p>A storefront like application, built with node, that allows for a customer, manager, or supervisor interaction.</p>
        <ul>
          <li>Persistent data is handled with MySQL</li>
          <li>NPM Packages include: inquirer, dotenv, and cli-table</li>
        </ul>
        <hr>
        <div class="modal-links">
          <p><a href="https://www.youtube.com/watch?v=Wr-Y3uH8zZc&feature=youtu.be" target="_blank">View Video Demonstration of the App</a></p>
          <p><a href="https://github.com/DizDonut/nodeStorefront" target="_blank">Visit the GitHub Repo</a></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
