{{> navbar}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">About Me</div>
        <div class="panel-body">
          <p>A little about me....beer.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="indPic">
  <img class="img-thumbnail" src="../../assets/images/pic.jpg" alt="profilePic">
</div>
