{{> navbar}}


<div class="media-cards">
  <div id="linkedInPlugin">
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/michael-bechtel-57538920" data-format="inline" data-related="false"></script>
  </div>

  <div id="ghPlugin">
    <div class="github-card" data-user="dizdonut"></div>
    <script src="http://lab.lepture.com/github-cards/widget.js"></script>
  </div>
</div>
