{{> navbar }}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default project-panels">
        <div class="panel-heading">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BaoBao">BaoBao</button>
        </div>
        <div class="panel-body">
          <img class="project-thumbnail" src="/assets/images/BaoBao.gif" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default project-panels">
        <div class="panel-heading">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#YumYum">Yum Yum Log</button>
        </div>
        <div class="panel-body">
          <img class="project-thumbnail" src="/assets/images/yumYum.gif" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default project-panels">
        <div class="panel-heading">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Farmers">Farmers Market Search</button>
        </div>
        <div class="panel-body">
          <img class="project-thumbnail" src="/assets/images/fms.PNG" alt="">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default project-panels">
        <div class="panel-heading">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Bamazon">Node StoreFront</button>
        </div>
        <div class="panel-body">
          <img class="project-thumbnail" src="/assets/images/node.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


{{> modals}}

{{> footer }}
