body{
  background: url("https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}

.img-thumbnail{
  opacity: 0.5;
}

.img-thumbnail:hover{
  opacity: 1.0;
  cursor: pointer;
}

#footer{
  height: 45px;
  background-color: #f5f5f5;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
}
